/*.formContainer{*/
/*    display: inline-block;*/
/*    flex-direction: column;*/
/*    border: 1px solid #ccc;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);*/
/*    border-radius: 10px;*/
/*    padding: 20px;*/
/*    margin-top: 5px;*/
/*    position: absolute;*/
/*    top: 30%;*/
/*    transform: translateX(-40%);*/
/*}*/

/*.submitBtn{*/
/*    margin: auto;*/
/*}*/

/*.AuthText{*/
/*    padding-top: 10px;*/
/*}*/

/*.buttonWrapper{*/
/*    padding-top: 10px;*/
/*}*/

.profile-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .profile-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-details {
    font-size: 16px;
  }
  
  .profile-label {
    font-weight: bold;
  }
  
  .profile-details p {
    margin-bottom: 10px;
  }
  
.profile-logout-btn {
  display: block;
  width: 120px;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #e53935;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.profile-logout-btn:hover {
  background-color: #c62828;
}